
.orange-accent {
  background-color: rgba(255, 165, 0, 0.9);
}

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

  .check-icon {
    font-size: 50px;
    color: orange;
    margin-bottom: 10px;
  }

.task-list {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
}

  .task-item {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 0;
  }

    .task-desc {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

      .task-button {
        font-size: 16px;
        background-color: transparent;
        border: none;
        color: orange;
        cursor: pointer;
        margin-right: 10px;
      }

      .task-name {
        flex-grow: 1;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
      }

    .task-tags {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }

      .task-period {
        margin-right: 10px;
        border-radius: 15px;
        font-size: 14px;
        padding: 5px 10px;
      }

      .task-due-date {
        color: white;
        font-size: 14px;
      }

      .overdue {
        color: red;
      }

      .completed {
        text-decoration: line-through;
        color: gray;
      }

.input-container {
  display: flex;
  flex-direction: column;
}

  .task-input {
    font-size: 16px;
    border: 2px solid orange;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 21px;
  }
  
  .input-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
    .date-popper {
      width: 330px;
    }

      .preset-buttons {
        display: flex;
        flex-direction: column;
        width: 310px;
        padding-top: 10px;
        gap: 10px;
      }
      
      .row {
        display: flex;
        gap: 10px;
      }

      .preset-buttons button {
        flex: 1;
        font-size: 12px; /* Increase font size for better readability */
        background-color: #ffaa00; /* Change button background color */
        color: #fff; /* Change button text color */
        border: none;
        border-radius: 5px;
        height: 30px; /* Adjust button height */
        cursor: pointer;
        white-space: nowrap;
      }
    
    .date-picker {
      flex: 1;
      margin-right: 10px;
    }

    .react-datepicker__day:hover {
      background-color: #FFD580;
    }
    
    .react-datepicker__day--selected {
      background-color: orange;
      color: white;
    }
    .react-datepicker__day--selected:hover {
      background-color: orange;
      color: white;
    }
    
    .react-datepicker__day--keyboard-selected {
      background-color: #FFD580;
    }
    .react-datepicker__day--keyboard-selected:hover {
      background-color: #FFD580;
    }

    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
      background-color: orange; /* Change this to your desired selected time color */
    }

    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
      background-color: #FFD580; /* Change this to your desired hover state color */
    }

    .react-datepicker__time-list-item--disabled{
      display: none;
    }

    .date-button {
      width: 100%;
      font-size: 16px;
      background-color: orange;
      color: white;
      border-radius: 5px;
      height: 25px;
      border: none;
      outline: none;
    }

    .period-select {
      font-size: 16px;
      background-color: orange;
      color: white;
      border-radius: 5px;
      height: 25px;
      margin-right: 10px;
      border: none;
      outline: none;
    }

    .period-select option[value="3"],
    .period-select option[value="7"] {
      color: black;
    }

    .add-button {
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      background-color: transparent;
      border: 2px solid orange;
      border-radius: 5px;
      color: orange;
      height: 25px;
      width: 25px;
      cursor: pointer;
      font-size: 18px;
    }
    .add-button:hover {
      background-color: orange;
      color: white;
    }