.control-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: rgba(50, 50, 50, .75);
  backdrop-filter: blur(20px);
  padding: 5px;
  z-index: 2;
  width: 490px;
}

.button-row {
  display: flex;
  align-items: center;
}

.button-row {
  transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  overflow: hidden;
  max-height: 70px; /* Adjust this value to accommodate your content */
  opacity: 1;
}

.button-row-hidden {
  transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.control-title {
  display: flex;
  gap: 5px;
  color: white;
  margin: 0px 5px;
}

.control-title h1{
  margin: 0px;
  font-size: 24px;
  flex: 1;
  text-align: center;
  align-self: center;
}

.control-title button {
  align-self: center;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
  padding: 3px 2px;
  width: 29px;
}

.control-title button:hover {
  background:rgba(100, 100, 100, 0.8);
  border-radius: 5px;
}

.view-picker {
  display: flex;
  border-radius: 15px;
  background-color: rgba(100, 100, 100, 0.8);
  gap: 10px;
  margin: 5px;
}

.view-picker button {
  margin: 0px;
}

.control-button {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin: 5px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
}

.inner-circle {
  width: 50px; /* Adjust the size of the inner circle as needed */
  height: 50px; /* Adjust the size of the inner circle as needed */
  border-radius: 10px;
}

.control-button span {
  font-size: 12px;
  margin-top: 5px;
}

.button1 {
  background: linear-gradient(45deg, darkorange, #FFD580);
}

.button2 {
  background: linear-gradient(45deg, blue, lightblue);
}

.button3 {
  background: linear-gradient(45deg, red, pink);
}

.button4 {
  background: linear-gradient(45deg, green, lightgreen);
  /* border-radius: 50%; */
}

.button5 {
  background: linear-gradient(45deg, purple, violet);
}

.control-button:hover {
  transform: scale(1.1);
  background-size: 200% 200%;
  animation: gradientShift 1s ease infinite;
}

.control-button.active {
  transform: scale(1.1);
  background-size: 200% 200%;
  animation: gradientShift 1s ease infinite;
}

@keyframes gradientShift {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
