.settings-container {
    padding: 5px;
    border-radius: 10px;
    background: rgba(50, 50, 50, .75);
    backdrop-filter: blur(20px);
    width: 520px;
    height: 272px;
  }

  .settings-tab-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .tab-button {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  .tab-button:hover {
    background:rgba(100, 100, 100, 0.8);
  }
  .settings-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .background-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .background-label {
    margin: 0px 0px 5px 8px; /* Adjust the spacing between the image and label */
    color: white;
    font-size: 14px;
  }
  .background-button {
    padding: 0;
    margin: 5px;
    margin-bottom: 0px;
    background: transparent;
    border: 3px solid transparent;
    outline: none;
    border-radius: 10px;
    width: 120px;
    height: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .background-button img {
    border-radius: 10px;
    height: 100%;
    width: auto;
    transition: transform 0.2s ease-in-out;
  }
  .background-button:hover img{
    transform: scale(1.1);
  }
  .background-button:hover {
    border: 3px solid gray;
  }
  .background-button.selected {
    border: 3px solid white;
  }

  .audio-button {
    width: 120px;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 3px solid transparent;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* To align the icon and label */
  }
  
  .audio-button:hover {
    border: 3px solid gray;
  }
  
  .audio-button.selected {
    border: 3px solid white;
  }
  
  