.settings-container {
    padding: 5px;
    border-radius: 10px;
    background: rgba(50, 50, 50, .75);
    backdrop-filter: blur(20px);
  }

  .settings-tab-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .tab-button {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  .tab-button:hover {
    background-color: rgba(255, 255, 255, 0.3);

  }
  .settings-content {
    display: flex;
  }

  .background-button {
    padding: 0;
    margin: 5px;
    background: transparent;
    border: 3px solid transparent;
    outline: none;
    border-radius: 10px;
    width: 120px;
    height: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .background-button img {
    border-radius: 10px;
    height: 100%;
    width: auto;
    transition: transform 0.2s ease-in-out;
  }
  .background-button img:hover {
    transform: scale(1.1);
  }
  .selected {
    border: 3px solid white;
  }