.container {
  width: 300px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(50, 50, 50, .75);
  backdrop-filter: blur(30px);
}

.top-bar {
  position:relative;
}

  .title {
    display: flex;
    justify-content: space-between;
    color: white;
  }
    .title h1 {
      font-size: 25px;
      font-weight: bold;
      margin: 0px;
    }
    
    .title button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 25px;
      cursor: pointer;
      padding: 0px;
    }

    .menu-dropdown {
      position:absolute;
      top: 40px; /* Adjust the position as needed */
      right: 0px; /* Adjust the position as needed */
      background-color: rgba(255, 165, 0, 0.9);
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 1;
    }

    .menu-dropdown button {
      display: block;
      width: 100%;
      padding: 5px 10px;
      border: none;
      background-color: transparent;
      color: white;
      font-size: 16px;
      text-align: left;
      cursor: pointer;
    }

    .menu-dropdown button:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    
.task-list {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  flex: 1;
}

  .task-item {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 10px 0;
  }
    .task-desc {
      display: flex;
      font-size: 18px;
    }

      .task-button {
        font-size: 15px;
        background-color: transparent;
        border: none;
        color: orange;
        cursor: pointer;
      }
      
      .task-name {
        display: inline-block;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
      }

    .task-tags {
      display: flex;
      align-items: center;
    }

      .task-period {
        background-color: transparent;
        color: white;
        padding: 5px 5px;
        border-radius: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

      .task-due-date {
        background-color: orange;
        color: white;
        padding: 5px 5px;
        border-radius: 10px;
        margin-left: 10px;
        font-size: 12px;
      }

.input-container {
  display: flex;
  flex-direction: column;
}

  .task-input {
    font-size: 16px;
    border: 2px solid orange;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 21px;
  }
  
  .input-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

    .date-popper {
      width: 330px;
    }

    .date-picker {
      flex: 1;
      margin-right: 10px;
    }

    .date-button {
      width: 100%;
      font-size: 16px;
      background-color: orange;
      color: white;
      border-radius: 5px;
      height: 25px;
      border: none;
      outline: none;
    }

    .period-select {
      font-size: 16px;
      background-color: orange;
      color: white;
      border-radius: 5px;
      height: 25px;
      margin-right: 10px;
      border: none;
      outline: none;
    }

    .period-select option[value="3"],
    .period-select option[value="7"] {
      color: black;
    }

    .add-button {
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      background-color: transparent;
      border: 2px solid orange;
      border-radius: 5px;
      color: orange;
      height: 25px;
      width: 25px;
      cursor: pointer;
      font-size: 18px;
    }
    .add-button:hover {
      background-color: orange;
      color: white;
    }