.container {
  width: 300px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(50, 50, 50, .75);
  backdrop-filter: blur(30px);
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 0px;
}

  .menu-dropdown {
    position: absolute;
    top: 50px; /* Adjust the position as needed */
    right: 10px; /* Adjust the position as needed */
    background-color: rgba(255, 165, 0, 0.9);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .menu-dropdown button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
  }

  .menu-dropdown button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

.task-list {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  flex: 1;
}

  .task-item {
    display: flex;
    align-items: center;
    color: white;
    margin: 10px 0;
  }

    .task-button {
      font-size: 15px;
      margin-right: 10px;
      background-color: transparent;
      border: none;
      color: orange;
      cursor: pointer;
    }

    .task-period {
      background-color: transparent;
      color: white;
      padding: 5px 10px;
      border-radius: 15px;
      margin-left: 10px;
    }

.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

  .task-input {
    width: 100vh;
    flex: 1;
    font-size: 16px;
    border: 2px solid orange;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 21px;
  }

  .period-select {
    font-size: 16px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    height: 25px;
    margin-right: 10px;
    border: none;
    outline: none;
  }

  .period-select option[value="3"],
  .period-select option[value="7"] {
    color: black;
  }

  .add-button {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 5px;
    color: orange;
    height: 25px;
    width: 25px;
    cursor: pointer;
    font-size: 18px;
  }
  .add-button:hover {
    background-color: orange;
    color: white;
  }

  .date-popper {

  }