.text-area {
  border: none;
  background: transparent;
  resize: none;
  font-size: 16px;
  outline: none;
  color: white;
}

.blue-accent {
  background-color: rgba(0, 0, 255, 0.9);
}

.menu-dropdown input[type="text"] {
  padding: 8px;
  margin-bottom: 5px;
  border: none;
  border-radius: 3px;
}