body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{ 
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
}
p,a,h1,h2,h3,h4,h5,h6,br,li,td,article{
  -o-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}