.landing-app {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #000080, #00BFFF);
    background-size: 200% 200%;
    animation: gradientShift 5s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .landing-content {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .landing-title {
    font-size: 36px;
    margin: 0;
    color: #333;
  }
  
  .landing-description {
    font-size: 18px;
    margin: 20px 0;
    color: #555;
  }
  
  .open-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .open-button:hover {
    background-color: #0055A4;
  }
  

  .landing-content {
    opacity: 0;
    transform: scale(1.2);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  }
  .landing-content.loaded {
    opacity: 1;
    transform: scale(1);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  }